*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Isso serve para mudar style do header */
header {
    background-color: rgb(161, 66, 11);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: orange;
}

/*Cria duas colunas/caixas que flutuam uma ao lado da outra*/
nav {
    float: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10%;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

article {

    float: center;
    padding: 10%;
    width: 100%;
    background-color: rgb(100, 59, 39);
    height: 100%;
    text-align: center;
}

/* Limpa os floats após as colunas */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilize o rodapé */
footer {
    background-color: rgb(161, 66, 11);
    padding: 10px;
    text-align: center;
    color: orange;
    text-align: left;
}

/* Layout responsivo - faz com que as duas colunas/caixas sejam empilhadas uma em cima da outra em vez de uma ao lado da outra, em telas pequenas */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.Estilodaimagem {
    width: 50%;height: 50%;
}